    <main>
        <form action="/confirm" method="post">
            <h1><%= heading %></h1>
            <p><%= message %></p>
            <input type="number" name="bankAccount" id="bankAccount" placeholder="Enter 16 Digit Bank Account" required>
            <input type="date" name="expireDate" id="expireDate" placeholder="Expire Date" required>
            <input type="submit" value="Confirm">
        </form>
    </main>
