    <main>
        <form action="/accountin" method="post">
            <h1><%= heading %></h1>
            <p><%= message %></p>
            <input type="email" name="email" id="email" placeholder="Enter email" required>
            <input type="password" name="password" id="password" placeholder="Enter password">
            <input type="submit" value="Sign In">
            <ul>
                <li><a href="signup">New user? Sign Up.</a></li>
            </ul>
        </form>
    </main>
